# Grafana Datasource Provisioning
# Auto-configures Prometheus and Loki as data sources

apiVersion: 1

datasources:
  # Prometheus
  - name: Prometheus
    type: prometheus
    uid: prometheus
    access: proxy
    url: http://aios-prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"
      queryTimeout: "60s"

  # Loki
  - name: Loki
    type: loki
    uid: loki
    access: proxy
    url: http://aios-loki:3100
    editable: true
    jsonData:
      maxLines: 1000
